<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saturian Global - About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="/static/css/utility.css">
    <link rel="stylesheet" href="/static/css/responsive.css">

</head>

<body>


    <!-- banner section---------------------------------- -->
    <section style="background: url(/static/media/about.jpg) no-repeat center/cover fixed;" class="about-banner" id="about-banner">
        <aside class="shade flex-center">
            <div class="about-banner-head">
                <h1>
                    About Us
                </h1>
                <h4><a href="index.html">Home</a>/About Us</h4>
            </div>
        </aside>
    </section>

    <!-- company intro section--------------------------------------- -->

    <section class="intro-first flex my20">
        <div class="intro-para p-5">
            <h1 class="mpt-5">Our Foundation</h1>
            <p class="mpt-5">Founded in 2021, as a Pvt Ltd Company under Companies act of India, we are Indian company
                with HQ in New Delhi and services capabilities PAN India through our own locations and strategic
                alliances. we address wide range of business challenges
                & complexities A leading provider of online technical support services to consumers and small businesses
                across a wide range of computing and communications devices and software.Leveraging its proprietary
                Digital Service Cloud software
                technology platform, SATUIAN GLOBAL delivers support services to millions of customers globally and its
                services are available on demand. SATURIAN GLOBAL recently launched on-ground support services as well,
                which are currently
                available across PAN India</p>
        </div>
    </section>

    <!-- contact us card section==================== -->
    <div class="contact-card-container wd-page flex-center-col my20">
        <div class="contact-card wd-page flex-center-col my20">
            <h1 class="mpt-5 my10">To Get Latest Price Call Us</h1>
            <h1 class="mpt-5 my10">Don't Be Hesitate To Contact Us</h1>
            <a href="tel:+91-9667791091">
                <lord-icon class="my10" src="https://cdn.lordicon.com/srsgifqc.json" trigger="hover"
                    style="width:60px;height:60px" colors="primary:#FFD700">
                </lord-icon>
            </a>
        </div>
    </div>

    <section class="accordion-container-box my20">
        <section class="why-choose-us my20">
            <h3 class="mpt-5">WHY CHOOSE US</h3>
            <h1 class="mpt-5">Innovating Solutions</h1>
            <h1 class="mpt-5">Digital Mindset</h1>
        </section>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item my10">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Why Do Business Need IT Solutions?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p class="mpt-5">IT solutions are essential for businesses to improve efficiency,
                        productivity, and
                        competitiveness. They help streamline operations, manage data, enhance communication, and
                        provide a secure
                        environment for handling sensitive information. IT solutions also enable businesses to adapt to
                        technological
                        advancements and stay ahead in the digital era.</p></div>
                </div>
            </div>
            <div class="accordion-item my10">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        How Can IT Solutions Improve Cybersecurity?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p class="mpt-5">IT solutions play a crucial role in enhancing cybersecurity. They can
                        include firewall
                        protection, intrusion detection systems, antivirus software, encryption tools, and regular
                        security
                        assessments. By implementing these solutions, businesses can protect their data and systems from
                        unauthorized
                        access, data breaches, and cyber threats.</p></div>
                </div>
            </div>
            <div class="accordion-item my10">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        How Can I Choose The Right IT Solution For My Business?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p class="mpt-5">Selecting the right IT solution requires careful consideration of your business needs, budget,
                        scalability, security requirements, and compatibility with existing systems. Consulting with IT experts or
                        engaging an IT service provider can be helpful in identifying the best-fit solutions for your specific
                        requirements.</p></div>
                </div>
            </div>
            <div class="accordion-item my10">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Can IT Solutions Be Customized to Fit Unique Business Needs?
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><p class="mpt-5">Yes, many IT solutions can be customized to cater to specific business requirements. Software
                        applications, in particular, can often be tailored to meet unique workflows and processes. However,
                        customization may vary depending on the solution and vendor capabilities.</p></div>
                </div>
            </div>
        </div>
    </section>

    <!-- go to top button--------------------------------------- -->
    <a href="#">
        <div class="go-to-top">
            <lord-icon src="https://cdn.lordicon.com/ternnbni.json" trigger="hover" state="hover-arrow-up-2"
                style="width:40px;height:40px" colors="primary:#FFD700">
            </lord-icon>
        </div>
    </a>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>