<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saturian Global - Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/utility.css">
    <link rel="stylesheet" href="/static/css/responsive.css">

</head>

<body>

    <!-- banner section---------------------------------- -->
    <section style="background: url(/static/media/banner.jpg) no-repeat center/cover fixed;" class="about-banner"
        id="about-banner">
        <aside class="shade flex-center">
            <div class="about-banner-head">
                <h1>
                    Contact Us
                </h1>
                <h4><a href="index.html">Home</a>/Contact Us</h4>
            </div>
        </aside>
    </section>

    <!-- contact card-----------section------- -->
    <section class="contact-container flex-center-col wd-page">
        <div class="contact-card-box m-20">
            <div class="card-img">
                <lord-icon src="https://cdn.lordicon.com/bgebyztw.json" trigger="morph" state="morph-phone-ring-finish"
                    style="width:90px;height:90px" colors="primary:#FFD700">
                </lord-icon>
            </div>
            <div class="card-info">
                <h1>Call Us For Any Enquiry</h1>
                <!-- for contact -->
                <p>For Contact : <a href="tel:+91-9667791091">+91-9667791091</a>
                    <!-- contact -->
                    <br>
                    <a href="tel:+91-01146535346">+91-01146535346</a>
                </p>
                <!-- for complaints & service -->
                <p>For Complaint & Service : <a href="tel:+91-8800654575">+91-8800654575</a></p>
                <!-- querries   -->
                <p>Your Querries : <a href="tel:+91-7982912295">+91-7982912295</a></p>
            </div>
        </div>

        <div class="contact-card-box m-20">
            <div class="card-img">
                <lord-icon src="https://cdn.lordicon.com/xtzvywzp.json" trigger="morph" state="morph-phone-ring-finish"
                    style="width:90px;height:90px" colors="primary:#FFD700">
                </lord-icon>
            </div>
            <div class="card-info email-address">
                <h1>For Business Support</h1>
                <p><a href="mailto:Info@saturianglobal.com" target="_blank">Info@Saturianglobal.com</a></p>
                <p><a href="mailto:contact@Saturiannglobal.com" target="_blank">Contact@Saturianglobal.com</a></p>
            </div>
        </div>
        <div class="contact-card-box  m-20">
            <div class="card-img">
                <lord-icon src="https://cdn.lordicon.com/surcxhka.json" trigger="hover" state="hover-roll"
                    state="in-jump-dynamic" style="width:90px;height:90px" colors="primary:#FFD700">
                </lord-icon>
            </div>
            <div class="card-info office-address">
                <h1>Visit Here</h1>
                <p><a href="https://maps.app.goo.gl/DSfwguAsY2qvo5eR8" target="_blank">B 57, Pocket B, Okhla Phase I,
                        Okhla Industrial Estate, New Delhi, Delhi 110020</a></p>
            </div>
        </div>
    </section>

    <!-- google maps section----------------------- -->

    <section class="map-container wd-page my20">
        <center class="maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3505.2749114494063!2d77.27761057549715!3d28.531455475720065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDMxJzUzLjIiTiA3N8KwMTYnNDguNyJF!5e0!3m2!1sen!2sin!4v1695788710011!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </center>
    </section>

    <!-- contact form section------------------------------------// -->

    <section class="form-outer-container flex-center wd-page">
        <center class="contact-form my10">
            <section class="form-head">
                <h1>Contact Us Directly</h1>
                <h3>Let Us Know Your Requirements</h3>
            </section>
            <form action="{% url 'contact' %}" method="post">
                <input type="text" name="name" id="fullname" placeholder="Full Name"><br>
                <input type="email" name="email" id="email" placeholder="Email Address"><br>
                <input type="text" name="contact" id="phone" placeholder="Phone"><br>
                <input type="text" name="subject" id="Subject" placeholder="Enter Subject"><br>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Write a Message . . ."></textarea><br>
                <button class="btn" type="submit"> Send Message <i class="fas fa-arrow-right"></i></button>

            </form>
        </center>
    </section>

    <!-- contact us card section==================== -->
    <div class="contact-card-container wd-page flex-center-col">
        <div class="contact-card wd-page flex-center-col my20">
            <h1 class="mpt-5 my10">To Get Latest Price Call Us</h1>
            <h1 class="mpt-5 my10">Don't Be Hesitate To Contact Us</h1>
            <a href="tel:+91-9667791091">
                <lord-icon class="my10" src="https://cdn.lordicon.com/srsgifqc.json" trigger="hover"
                    style="width:60px;height:60px" colors="primary:#FFD700">
                </lord-icon>
            </a>
        </div>
    </div>

    <!-- go to top button--------------------------------------- -->
    <a href="#">
        <div class="go-to-top">
            <lord-icon src="https://cdn.lordicon.com/ternnbni.json" trigger="hover" state="hover-arrow-up-2"
                style="width:40px;height:40px" colors="primary:#FFD700">
            </lord-icon>
        </div>
    </a>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>